@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/bg.jpeg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%
}
.text-content{
    width: 90%;
    color: #fff;
    position :absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-content h1 {
    font-size: 62px;
}
.text-content p{
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 13px 32px;
    margin: 15px auto 10px auto;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
}
nav .fa{
    display: none;
}
@media (max-width: 600px){
   
    .text-content h1 {
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        background-color:  #f44336;
        height: 300px;
        width: 200px;
        z-index: 2;
        position: absolute;
        top: 0;
        right: -300px;
        text-align: left;
        transition: .7s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    
}

            /* Course */

.course{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    padding: 10px;
    line-height: 23px;
    color: rgb(145, 143, 143);
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 31%; 
    background-color: #fff3f3f3; 
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 12px;
    margin-bottom: 5%;
    transition: 0.5;
}
h3{
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 10px 0 rgba(4, 9, 30, 0.7);
}
@media (max-width: 650px){
    .row{
        flex-direction: column;
    }
}

/* -----Campus------ */

.campus{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 13px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.campus-col  img {
    width: 100%;
    height: 100%;
    display: block;

}
.layer{
   background-color: rgba(231, 52, 52, 0.1);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.8s;
}
.layer:hover{
    background-color: rgba(231, 52, 52, 0.7);
}
.layer h3{
    color: #fff;
    width: 100%;
    font-weight: 600;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
   opacity: 0; 
   transition: 0.9s; 
}
.layer:hover h3 {
    bottom: 45%;
    opacity: 1;
}